#u3460 {
    z-index: 10;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    background-color: transparent;
    padding-bottom: 19px;
    margin-bottom: -142px;
    position: relative;
    width: 53.63%;
    margin-left: 26.49%;
    top:10px;
}

.colelem {
    display: inline;
    float: left;
    clear: both;
}

#u3461 {
    z-index: 11;
    background-color: #FFFFFF;
    padding-bottom: 25px;
    position: relative;
    margin-right: -10000px;
    margin-top: 19px;
    width: 95.87%;
    left: 2.07%;
}

.grpelem, .accordion_wrapper {
    display: inline;
    float: left;
}

#u3462-4 {
    z-index: 12;
    min-height: 39px;
    background-color: transparent;
    line-height: 50px;
    text-align: center;
    font-size: 42px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 25px;
    width: 100%;
}

#u2861-4 {
    z-index: 42;
    min-height: 45px;
    background-color: transparent;
    line-height: 42px;
    text-align: center;
    font-size: 35px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    margin-top: 50px;
    position: relative;
    width: 95.84%;
    margin-left: 2.09%;
    top:171px;
}
